.inputtext{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  .crossbutton{
      position: fixed;
      color: #9767DD;
      top: 1em;
      right: 1em;
  }  

.submibutton {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .submibutton:hover {
    background-color: #45a049;
  }
  .labels{
      color: #888888;
      font-weight: 600;
      font-size: large;
  }
  