.ulist{
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #F8F9FA;
}


li {
    float: left;
  }
  
  li a {
    display: block;
    color: #464849;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
  
  .logo{
      margin-right: 20px;
  }