.signupBody{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.signupContainer{
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}

.signupHead{
    width: 100%;
    text-align: center;
    height: 65px;
    margin: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
}

.signupMain{
    width: 100%;
    text-align: center;
    margin: 10px;
    background: #1FC7A8;
    padding: 25px;
}

.input{
    width: 75%;
    height: 11%;
    margin: 10px;
    border-radius: 10px;
    padding: 12px;
    font-size: 20px;
}

.btn {
    width: 200px;
    height: 53px;
    font-size: 22px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    margin: 53px;
    cursor: pointer;
    border-radius: 10px;
    background-color: #ffffff;
    color: #1FC7A8;
}

.signedUpStatus{
    text-align: center;
    color: red;
    font-size: 20px;
    margin: 20px;
    font-weight: bold;
}
